# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]

max_allowed_packet=512M # Updated by JSS Database Utility
max_connections=151 # Updated by JSS Database Utility
expire_logs_days=0 # Updated by JSS Database Utility
max_binlog_size=16M # Updated by JSS Database Utility
key_buffer_size=16M
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 0
table_definition_cache = 400
table_open_cache = 400
innodb_buffer_pool_size = 2048M
