# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]

pid-file=/usr/local/mysql/data/mysqld.local.pid

table_definition_cache = 400
table_open_cache = 400

max_allowed_packet=64M # Updated by Jamf Pro Server Tools
max_connections=151 # Updated by Jamf Pro Server Tools
expire_logs_days=0 # Updated by Jamf Pro Server Tools
max_binlog_size=16M # Updated by Jamf Pro Server Tools
key_buffer_size = 16M # Updated by Jamf Pro Server Tools
innodb_flush_log_at_trx_commit = 1 # Updated by Jamf Pro Server Tools

# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
innodb_buffer_pool_size = 2048M
innodb_file_per_table= 1

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
